# Dependencies
node_modules/

# Build
dist/
build/

# Environment
.env
.env.*

# Logs
logs/
*.log

# Testing
coverage/

# Prisma
prisma/*.db
prisma/migrations/*/migration_lock.toml

# Misc
.cache/
temp/
